<div class="card">
  <img src={{product.url}} class="card-img-top" alt="product image" style="height: 75%;width: 75%;" />
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">
      {{product.price}} {{product.currency}}
    </p>
    <div style="text-align: center;">
      <span class="add-cart" (click)="AddProduct(product)">Add to Cart</span>
      <i class="bi bi-cart-plus" (click)="AddProduct(product)" title="Add Item"
        style="color: green;font-size: 30px;cursor: pointer  !important;"></i>
    </div>
  </div>
</div>